<div class="item-box">
  	<figure class="picture-icon">
	  <%=image_tag(cc.picture.url(:thumb)) %>
		<figcaption>
		<strong>
		<%= link_to cc.title , controller: "commentable_contents", type: @type, title: @title,action: "show_by_id", id: cc.id %>
		</strong>
		<br/>			
	  	Created <%= cc.updated_at %> 
		<br/>			
		<%= link_to 'Add Comment', new_commentable_content_comments_path(cc,commentable_type: @type) %>
		</figcaption>
	</figure>
	<div class="clearfix"> </div>
	<div class="item-text">
		<%= cc.extract %> 
	</div>
	</div>
<!--
  	<figure class="picture_icon">
  <figcaption> 
  </figcaption>
  </figure>
<div class="topic_block">
</div>
-->