
<%
 @rants_only = session[:rants_only]
 @author_only = session[:mycomments_only]
 show_cc = true
 if @rants_only
  show_cc = ["RANT"].include?(c.review_status)  
 else
  show_cc = ["REJK","RANT"].exclude?(c.review_status)
 end 

 if( @author_only and show_cc)
  show_cc = ((user_signed_in? and c.user_id == current_user.id) or admin_on?) 
 end

 my_debug("type: #{@type} title: #{@title} rants_only: #{@rants_only}  commentable_contents: #{@commentable_contents.class.name} #{@commentable_contents.class.ancestors}")
 return  if ! show_cc 
%>
<div class="comment-row" id="comment-row-<%=c.id%>">
   <figure class="user-icon">
       <%= c.user.avatar? ? image_tag(c.user.avatar.url(:thumb)) : image_tag("fallback/thumb_DefaultPerson.png") %>
       <figcaption>
       	
       <%= c.user.email.split('@')[0] %> 
       <%= c.created_at %> 
       <% if ((user_signed_in? and c.user_id == current_user.id)  and c.review_status != "RANT") or admin_on? %>
        <div class="dropdown">
         <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          Action 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Edit", edit_comment_path(c.id,commentable_type: @type),"data-turbolinks" => false ,  remote: true,class: "dropdown-item"  %>
          <%= link_to "Review", comment_reviews_path(comment_id: c.id),"data-turbolinks" => false , class: "dropdown-item"  %>
        </div>
      </div>
      <%end%>
       </figcaption>
	</figure>
	<div class="comment-text" id="comment-text<%=c.id%>">

	<% if c.review_status == 'APPR' || @rants_only%>
  <%= raw c.comment_text %>
  <% else %>
  <%=  I18n.t "comment_review_status.#{c.review_status}.name" %>
  <% end %>
  <hr>
	</div>
</div>

<!--
 <%#= link_to "Edit", new_comment_path(c.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} if user_signed_in? and  c.user_id == current_user.id  %>dd
 <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
-->