<%# my_debug "In _table_content_row.erb partial, " + request.path 
	# show the commentable_content (CC) topic using bootstraps card formatting
	# if the content title is clicked on, show only that content (show_by_id)
	# show_by_id will show the full text, which is otherwise truncated to 100 char.
	# A user can add a comment, but only an admin can edit the CC content.
%>
 	<% 
 	if cc.publish_dt.nil? and !admin_on?
 		return
 	end
 	%>
	<div class="container">
  	<div class="row">
  	    <div class="col-sm-3 mx-3">
			<%= link_to image_tag(cc.picture.url, class:"img-thumbnail"),controller: "utils", action: "modal_image_resize", remote: true, image_name: cc.picture.url,image_title: cc.title, "data-turbolinks" => false  %> 
	  	<p class="author-line"> Updated <%= cc.updated_at.strftime("%Y-%m-%d %H:%M") %> </p>
			<%#=image_tag(cc.picture.url(:thumb)) %>
  		<!--div class="col-8 col-sm-6 text-justify" -->
		</div> 
  	    <div class="col-sm-6 mx-3">
  	    	<div class="content-title-author">
		  	<h3>
				<%= link_to cc.title , controller: "commentable_contents", action: "show_by_id", id: cc.id %>
			</h3>
		  	<% if cc.publish_dt.nil? %>
		  	<span class="inline-el-attn"> Not Published. Unavailable for other users to view </span>
		  	<%else%>
		  	<span class="author-line"> Published by </span> 
		  	<span class="author"> <%= User.find(cc.created_by_id).alias %> </span>
		  	<span class="author-line">  on <%= cc.publish_dt.strftime("%Y-%m-%d %H:%M") %> </span>
		  	<%end%>
			<!--p class="d-none d-sm-flex"-->
		  </div>
			<br>
			<p class="d-sm-flex">
				<%= cc.extract %> 
			</p>
		  	<hr>
		  	<!--div class="content-hr-100" </div-->
			<p>
				<!-- sanitize removes unwanted tags -->
				<%if action_name == "show_by_id" %>
					<%= sanitize cc.content %>
					<%#= raw cc.content.force_encoding("UTF-8") %>
				<%#else%>
					<%#= sanitize cc.content[0,100] + "..." %>
				<%end%>
			</p>
  		<!--div class="col-sm-3"> </div-->
  		</div>
  		</div>
	<%if action_name == "show_by_id" %>
     <div class="row text-muted">
  		<div class="col-sm-8"> 
		<hr>
	    <% if user_signed_in? %>	
		<%= link_to 'Add Comment',  new_commentable_content_comments_path(commentable_content_id: cc.id), remote: true, "data-turbolinks" => false , class: "card-link" %>
		<%else%>
		<%= link_to 'Sign in to Add Comment',  new_user_session_path, class: "nav-link" %>
		<%end%>
		<%= link_to 'Edit Article',  edit_commentable_content_path(cc.id),"data-turbolinks" => false, class: "card-link" if admin_signed_in? and admin_on? %>
	  	<%#= social_share_button_tag(cc.title,:allow_sites => %w(twitter facebook email reddit )) %>
	  	<%#= social_share_button_tag(cc.title,:allow_sites => %w(twitter facebook google_plus google_bookmark delicious pinterest email linkedin reddit )) %>
	 </div>
	 </div>
	 <% end #action_name = show_by_id %>
	</div>

	
	 <% if false #comment out%>
	 <% end #comment out%>
