   <div class="container-fluid main-container">
      <div class="row flex-row-full align-items-start">
          <div class="col-xs-12 con-resize-full">
            <% if ! @commentable_contents.nil? %>
              <% cc = @commentable_contents %> 
              <%= render partial: "shared/content/table_content_row", locals: { cc: @commentable_contents, type:  @type , title: @title} %>
              <% cc.comments.each do |c| %>
                <%= render partial: "shared/content/table_comment_row", locals: { c: c, type:  @type , title: @title} %>
              <%end%>
             <%end%>
          </div>
          <p> <%#= session.inspect %> </p>
      </div>
      <%=render "shared/modal_dialog" %>
    </div>


<%= link_to 'Edit', edit_commentable_content_path(@commentable_contents) if admin_signed_in? and admin_on? %>
<%= link_to 'Back', welcome_home_path %>
