      <% if ! @commentable_contents.nil? %>
         <% cc = @commentable_contents %> 
           <%= render partial: "shared/content/table_content_row", locals: { cc: @commentable_contents, title: @title} %>
         <div id="comments_list"> <!-- comments_list needed in create.js.erb to append new comment -->
         <% cc.comments.each do |c| %>
             <%= render partial: "shared/content/table_comment_row", locals: { c: c, title: @title} %>
          <%end # end of comments loop %>
          </div>
          <p> <%#= session.inspect %> </p>
      <%end%>
      <%=render "shared/modal_dialog" %>


<%= link_to 'Edit', edit_commentable_content_path(@commentable_contents) if admin_signed_in? and admin_on? %>
<%= link_to 'Back', welcome_home_path %>
