<%
  @ismodal = local_assigns[:ismodal] 
  adminid = 0
  if @ismodal.nil?
    @ismodal = false
  end
  if admin_signed_in?
   adminid = current_admin.id
  end
%>

<%
my_debug("in comment_review form partial: #{action_name}, ismodal: #{@ismodal}")
%>
<%= form_for @comment_review , remote: false, :html => { :role => "form" } do |f| %>
  <% if @ismodal %>
    <div class='modal-body'> </div>
  <%end%>
 <div class="field ">
    <%= f.label :review_text %><br>
    <%= f.text_area :review_text, :id => 'editor', :class => 'review-text-input editor'  %>
  </div>

  <div class="field">
     <%= f.text_field :admin_id, value: adminid, hidden: true,readonly: true%>
  </div>
  <div class="field">
     <%= f.text_field :comment_id, value: @comment_id , hidden: true,readonly: true%>
  </div>
  <% @footer_message = "user id: #{current_user.id} / comment_id: #{@comment_id}" %>
  <% if @ismodal %>
    </div> <!-- modal-body-->
    <div class="modal-footer">
      <div class="container col-xs-12">
      <div class="row justify-content-between" >
      <div class="col-md-6">
        <p> <%= @footer_message %> </p>
      </div>
      <div class="col-md-5 offset-md-1"> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
    </div>
    </div>
  <%else%>
    <div class="actions">
     <%= f.submit %>
    </div>
    <%#= render partial: "shared/footer", locals: { footer_message: @footer_message} if footer %>
  <%end%>
<% end # form_for block%>
<%= javascript_packs_with_chunks_tag 'ckeditor','data-turbolinks-track': 'reload' %>
<%#= javascript_pack_tag 'ckeditor', 'data-turbolinks-track': 'reload' %>

<script type="module">
//window.MyClassicEditor = MyClassicEditor;
//import MyClassicEditor from 'pblog/app/javascript/packs/ckeditor/myck_classic_editor'; 
 MyClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
   } );
</script>
<!--script type="text/javascript">
CKEDITOR.replace( 'review_text', {
  <%# if admin_on? %>
    toolbar: 'AdminToolbar' 
  <%# else %>
    toolbar: 'UserToolbar' 
  <%# end %>
} );
</script-->
<%
=begin
    ,{},{}, 
   { :data => { remote: true,
               :url => url_for(:controller => "comments", 
               :action => "change_status",
               :id => @comment.id.to_s)
   }}) 
=end
%>
