
    	<% if ! ( @comment_reviews.nil? and @comment_reviews.blank?) %>
		<% @comment_reviews.each do |review| %>
  <div class="row justify-content-start">
    <div class="col-12 p-3 ">
		   <figure class="user-icon">
		   		<% if review.admin_id <= 0 
		   			theReviewer = @comment.user
		   		else
		   			theReviewer = Admin.find(review.admin_id)
		   		end
		   		%>
		       <%= theReviewer.avatar? ? image_tag(theReviewer.avatar.url(:thumb)) : image_tag("fallback/thumb_DefaultPerson.png") %>
		       <figcaption>
		       	<%# 11/13/19 added alias to admin and removed email name from list
		       	    so admins and users can have different alias's 
		       	    plus we don't want to disclose the email name on the view %>
		       <%#= theReviewer.email.split('@')[0] %>  
		       <div class="author-line">
		       <%= theReviewer.alias %> 
		       <%= theReviewer.created_at %> 
		   </div>
		       </figcaption>
			</figure>
			<div class="review-text" id="review-text<%=review.comment_id%>">
			<%=raw review.review_text %> 
		    </div>
	</div>
  </div>
		<% end %>
		<% end # if we have comment_reviews %> 
   <div class="row justify-content-center">
    <div class="col px-5">
   		<%= @comment_review = CommentReview.new
   			@comment_review.comment_id = @comment.id
   			@comment_id = @comment.id
   		    render  "new" 
   		%>
    </div>
  </div>
<%#= link_to "New Review", new_comment_review_path(comment_id: @comment_id),"data-turbolinks" => false  %>
